<% include header %>

<p>Angela Carter is right on target when she claims that</p>
<blockquote class="center"><p>We live in Gothic times</p><footer>Angela Carter</footer></blockquote>
  <br>
<p>The Gothic is all around us, from our everyday lives to the art and culture that surrounds us. Come visit The Contemporary American Gothic Experience at the Smithsonian Institute to immerse yourself in Gregory Crewdson’s photography and the gothic subculture portrayed in the Big Bang Theory. From the out of place, unnatural gaze of the man in the painting, to the simply unheimlich clips from the movie, The Contemporary American Gothic Experience provides what Ann Radcliffe might characterize as the “terror” of a lifetime.</p>

<% include footer %>