<% include header %>
<ol></li>
<li>"The American South: On the Map and in the Mind." Guernica / A Magazine of Art & Politics. N.p., 16 Mar. 2014. Web. 6 Jan. 2016. <https://www.guernicamag.com/features/the-american-south-on-the-map-and-in-the-mind/></li>
<li>"The American South: On the Map and in the Mind." Guernica / A Magazine of Art & Politics. N.p., 16 Mar. 2014. Web. 6 Jan. 2016. <https://www.guernicamag.com/features/the-american-south-on-the-map-and-in-the-mind/></li>
<li>"Aperture 190 | Gregory Crewdson." Aperture 190 | Gregory Crewdson. N.p., n.d. Web. 6 Jan. 2016. <http://www.aperture.org/crewdson/></li>
<li>"Awards." IMDb. IMDb.com, n.d. Web. 6 Jan. 2016. <http://www.imdb.com/title/tt0410975/awards></li>
<li>"Big Bang Theory Renewed for 3 More Seasons." TVLine. N.p., 12 Mar. 2014. Web. 6 Jan. 2016. <http://tvline.com/2014/03/12/big-bang-theory-renewed-three-seasons-through-season-10/></li>
<li>"The Big Bang Theory TV Show on CBS: Ratings (cancel or Renew?)." Canceled TV Shows TV Series Finale. N.p., 15 Jan. 2016. Web. 6 Jan. 2016. <http://tvseriesfinale.com/tv-show/the-big-bang-theory-season-nine-ratings-38076/></li>
<li>"Biography - Cindy Sherman - Photographer, Model, Director, Actor, Avant-Garde Images, Doll Parts and Prosthetics, Movies." Biography - Cindy Sherman - Photographer, Model, Director, Actor, Avant-Garde Images, Doll Parts and Prosthetics, Movies. N.p., n.d. Web. 6 Jan. 2016. <http://www.cindysherman.com/biography.shtml></li>
<li>"Current." Gregory Crewdson: Beneath the Roses. N.p., n.d. Web. 6 Jan. 2016. <http://whitecube.com/exhibitions/gregory_crewdson_beneath_the_roses_hoxton_square_2005/></li>
<li>"Good Will Hunting." IMDb. IMDb.com, n.d. Web. 6 Jan. 2016. <http://www.imdb.com/title/tt0119217/></li>
<li>"Gregory Crewdson | Untitled (Production Still from "Beneath the Roses") (2004) | Artsy." Gregory Crewdson | Untitled (Production Still from "Beneath the Roses") (2004) | Artsy. N.p., n.d. Web. 6 Jan. 2016. <https://www.artsy.net/artwork/gregory-crewdson-untitled-production-still-from-beneath-the-roses></li>
<li>"Gregory Crewdson: Dream House." Gregory Crewdson: Dream House. N.p., n.d. Web. 6 Jan. 2016. <http://www.sdmart.org/art/exhibit/gregory-crewdson-dream-house></li>
<li>"MoMA | Cindy Sherman | Gallery 8." MoMA | Cindy Sherman | Gallery 8. N.p., n.d. Web. 6 Jan. 2016. <https://www.moma.org/interactives/exhibitions/2012/cindysherman/gallery/8/#/2/untitled-355-2000/></li>
<li>"Ratings: 'Big Bang Theory,' 'Grey's Anatomy' Top Steady Thursday." Variety. N.p., 13 Nov. 2015. Web. 6 Jan. 2016. <http://variety.com/2015/tv/news/thursday-ratings-big-bang-theory-greys-anatomy-1201639865/></li>
<li>"Walker Art Center." Kara Walker: My Complement, My Enemy, My Oppressor, My Love — Calendar —. N.p., n.d. Web. 6 Jan. 2016. <http://www.walkerart.org/calendar/2007/kara-walker-my-complement-my-enemy-my-oppress></li>
</ol>
<% include footer %>