<% include header %>
<center>
<p><a href="#1">Untitled 1</a> | <a href="#2">Untitled 2</a> | <a href="#3">Untitled 3</a></p>
</center>
<a name="1"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Gregory Crewdson</h2>
  <p><a href="/crewdsongallery">View gallery</a></p>  
  <img src="/static/img/crewdson.jpg" class="img-circle" alt="Gregory Crewdson" width="360" height="240" align="right"> 
  <p class="description">
    Gregory Crewdson is an American photographer – born in September 26, 1962 in Brooklyn New York, he had been part of a punk rock group called “The Speedies” and is now a fine-art and landscape photographer, as well as a professor at the Yale University School of Art. His photographs are usually taken in Massachusetts, in small-town, suburban American neighborhoods, at scenes that are carefully staged and lit with the help of crews familiar with film equipment and techniques. 
  </p>
  <p class="description">
   Gregory Crewdson describes that there are “two distinct ways” he has of making his pictures: he either works on location, using real neighborhoods and its environment, or he works on the soundstage, starting from scratch and creating the entire picture from the ground up. And once everything is arranged in place, the camera is stabilized, and forty to fifty plates of 8 by 10 film are shot. Crewdson then begins integrating all these images to try to recreate what he had imagined the picture to look like. 
  </p>
  <p class="description">
    Crewdson claims that</p>
    <blockquote class="center"><p>the pictures are doomed, in that...my compulsion to make a perfect world looms against the impossibility of doing so. No matter what, you cannot achieve perfect representation</p><footer>Gregory Crewdson</footer></blockquote>
  <br>
  
  </p>
  <p class="description">
    Crewdson goes on to describe his photography as “the coming-together of form and content, essentially. Then that changes, because you continue to try to reinvent the form to accommodate the story as much as possible. Of course in the end it’s impossible to fully achieve the form, because the story is murky and undefined. So you try it over and over again, and you’re hoping by the next picture you’ll get it--and that keeps you going. It’s like this unsolvable equation.”  
  </p>

<% include btt %>
<% include footer %>