<% include header %>
<center>
<p><a href="#1">Untitled 1</a> | <a href="#2">Untitled 2</a> | <a href="#3">Untitled 3</a></p>
</center>
<a name="1"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Untitled 1</h2>
  <p class="artinfo"><strong>Media:</strong> Digital Chromogenic Print</p>
  <p class="artinfo"><strong>Date of Creation:</strong> 2002</p>
  <img src="/static/img/gc1.png" class="img-rounded" alt="Gregory Crewdson" width="70%"><br><br>
  <p class="description">
    This is one of Gregory Crewdson’s photographs that had been part of his twelve-part portfolio “Dream House” in 2002. The name of the portfolio alone expresses a hope for a perfect home - a traditional suburban scene with a manicured lawn and hedges. However, this image displays a scene far from perfect. The broken fence and the white shingled house in this wooded area place this scene in the suburbs, and at first glance, it appears as if this is the typical aftermath of a car crash - the driver collecting her belongings after an accident in a seemingly quiet neighborhood. It seems to be early morning, but oddly enough, the main source of light in this photograph is the overturned car itself, emitting an unnatural glow. The only other source of light comes from the windows of the house, signifying that there is activity in the house. Yet the road is still desolate, with only the assumed driver gathering her belongings. She seems to have driven toward the brighter foreground of the image, as suggested by the direction of the other car in this photograph. Perhaps, this direction the woman has taken suggests that she had attempted to drive from a darker, more mysterious past toward a more seemingly pleasant space, only to find herself stuck again, with no mode of transportation, in the dark. As the name “Dream House” suggests, perfection - in this case, an ideal home - is unattainable, only a dream.
  </p>
  
<a name="2"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Untitled 2</h2>
  <p class="artinfo"><strong>Media:</strong> Digital Chromogenic Print</p>
  <p class="artinfo"><strong>Date of Creation:</strong> 2002</p>
  <img src="/static/img/gc2.png" class="img-rounded" alt="Gregory Crewdson" width="70%"><br><br>
  <p class="description">
    This is an untitled digital chromogenic print from Gregory Crewdson’s 2004 “Beneath the Roses” exhibit in 2004. This image is, upon first glance, simply a car driving in the middle of a road at a quiet time of day. However, there is something eerily unsettling about this scene - the car is in fact not being driven on the desolate road: the door has been thrown open, the background is foggy and mysteriously unclear. The car is stopped past the traffic lights, and the door has been left open with no driver, giving off the sense that there must have been some sort of serious catalyst for the driver to have left the car in such a state. There seems to be a source of light from within the car shining past the door, again emphasizing that the car is stuck in its current state, neither fully stopped and parked nor fully ready to drive and serve its initial purpose. 
  </p>
  <p class="description">
    This car’s unnerving state is in stark contrast with its surroundings - the car is surrounded by a very geometrically, in a sense, perfectly, laid out neighborhood. The buildings are placed squarely against each other, the traffic light beams are exactly parallel to the ground, and the white paint on the road is drawn as precise rhombuses carefully placed beside each other. However, this perfect environment is rendered no longer perfect by the unheimlich, out-of-place car in the not-quite center of this image.
  </p>

  <a name="3"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Untitled 3</h2>
  <p class="artinfo"><strong>Media:</strong> Digital Chromogenic Print</p>
  <p class="artinfo"><strong>Date of Creation:</strong> 2004</p>
  <img src="/static/img/gc3.png" class="img-rounded" alt="Gregory Crewdson" width="70%"><br><br>
  <p class="description">
    This photograph is an untitled production still from Gregory Crewdson’s “Beneath the Roses” exhibit in 2004. In this photograph, the viewer notices many images of doubleness, the duality of identity.The two people in this photograph are standing by the railroad in a seemingly suburban patch of land, with tall grass growing on either side of the railroad. The viewer’s eyes trace the railroad, attempting to find an origin, but are stopped when they see the particularly bright light shining on the railroad at the edge of the photograph, obscuring the railroad’s path. The two people in the image are on opposite sides of the railroad. It is noteworthy that the casually dressed male figure stands between two rails; this and his deliberating figure suggests that he is at crossroads, torn between two identities. The girl in the background  is equally casually dressed, but her demeanor seems to suggest a carefree spirit. We question how these two figures and their contrasting attitudes relate - perhaps they are two different reflections of one.
  </p>
<% include btt %>
<% include footer %>