<% include header %>

<ul>
  <li><a href="/television">Television</a></li>
  <ul>
    <li type="square"><a href="/television#tbbt"><i><i><i><i><i>The Big Bang Theory</i></i></i></i></i></a></li>
    <li type="square"><a href="/television#dh"><i><i>Desperate Housewives</i><i></a></li>
  </ul>
  <li><a href="/photography">Photography</a></li>
  <ul>
    <li type="square"><a href="/photography#crewdson">Gregory Crewdson</a></li>
    <li type="square"><a href="/photography#sherman">Cindy Sherman</a></li>
    <li type="square"><a href="/photography#walker">Kara Walker</a></li>
  </ul>
  </ul>
</ul>

<% include footer %>