<% include header %>

<ul>
  <li><a href="/television">Television</a></li>
  <ul>
    <li type="square"><a href="/television#tbbt">The Big Bang Theory</a></li>
  </ul>
  <li><a href="/photography">Photography</a></li>
  <ul>
    <li type="square">Gregory Crewdson</li>
  </ul>
  </ul>
</ul>

<% include footer %>