

<br>
<p class="copyright text-muted small">Copyright &copy; TCAGE 2016. All Rights Reserved</p>
</div>
</div>
<script src="static/js/jquery-2.1.4.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/script.js"></script>
<script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/plusanchor.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('body').plusAnchor({
            easing: 'easeInOutQuart',      // String: Anything other than "swing" or "linear" requires the easing.js plugin
            offsetTop: -20,       // Int: Top offset for anchor scrollto position. Can be positive or negative
            speed: 500,          // Int: The speed, in miliseconds, it takes to complete a slide
            onInit: null,         // Function: Callback function on plugin initialize
            onSlide: null,        // Function: Callback function that runs just before the page starts animating
            performance: true    // Boolean: Toggles between click and delegate events.
        });
      });
</script>
</body>
</html>