<% include header %>

  <% if(messages.notification){ %>
    <% if(messages.notification == "Could not log in - username or password was incorrect"){ %>
      <div class="alert alert-danger" id="placeholderWarning" role="alert">
        <p class="nameAlert"><span><%= messages.notification %>&nbsp;</span><a href="#" class="close nameAlert" data-dismiss="alert" data-hide="alert">&times;</a></p>
      </div>
    <% } else {%>
      <div class="alert alert-success" id="placeholderSuccess" role="alert">
        <p class="nameAlert"><span><%= messages.notification %>&nbsp;</span><a href="#" class="close nameAlert" data-dismiss="alert" data-hide="alert">&times;</a></p>
      </div>
    <% } %>
  <% } %>
  
  <br>
  <blockquote><p>We live in Gothic times</p><footer>Angela Carter</footer></blockquote>
  <br>
  <p>Learn more about <a href="/about">The Contemporary American Gothic Experience</a>!</p>
  <p>Dive into each of our <a href="/exhibit">exhibits</a>!</p>
<% include footer %>