<% include header %>

  <% if(messages.notification){ %>
    <% if(messages.notification == "Could not log in - username or password was incorrect"){ %>
      <div class="alert alert-danger" id="placeholderWarning" role="alert">
        <p class="nameAlert"><span><%= messages.notification %>&nbsp;</span><a href="#" class="close nameAlert" data-dismiss="alert" data-hide="alert">&times;</a></p>
      </div>
    <% } else {%>
      <div class="alert alert-success" id="placeholderSuccess" role="alert">
        <p class="nameAlert"><span><%= messages.notification %>&nbsp;</span><a href="#" class="close nameAlert" data-dismiss="alert" data-hide="alert">&times;</a></p>
      </div>
    <% } %>
  <% } %>
  
  <br>
  <blockquote><p>We live in Gothic times</p><footer>Angela Carter</footer></blockquote>
  <br>
  <p>The Contemporary American Gothic Experience investigates the Gothic presence in pop-culture through three different kinds of media: television, photography, and silhouette cutouts - essentially beginning with a facade most cheery and ending with a true identity most exposed. Excerpts from select episodes and clips of <i>Good Will Hunting</i>, <i>The Big Bang Theory</i> and <i>Desperate Housewives</i> give insight into the contemporary American perception of the Gothic and reveal the timeless (and truly Gothic) sense of a dual identity. In the movie and in both shows, a dual identity is manifested in the characters and in their relationships. <a href="/about">Read more...</a></p>
<% include footer %>