<% include header %>
<center>
<p><a href="#crewdson">Gregory Crewdson</a> | <a href="#sherman">Cindy Sherman</a> | <a href="#walker">Kara Walker</a></p>
</center>
<a name="crewdson"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Gregory Crewdson</h2>
  <p><a href="/crewdsongallery">View gallery</a></p>  
  <img src="/static/img/crewdson.jpg" class="img-circle" alt="Gregory Crewdson" width="360" height="240" align="right"> 
  <p class="description">
    Gregory Crewdson is an American photographer – born in September 26, 1962 in Brooklyn New York, he had been part of a punk rock group called “The Speedies” and is now a fine-art and landscape photographer, as well as a professor at the Yale University School of Art. His photographs are usually taken in Massachusetts, in small-town, suburban American neighborhoods, at scenes that are carefully staged and lit with the help of crews familiar with film equipment and techniques. 
  </p>
  <p class="description">
   Gregory Crewdson describes that there are “two distinct ways” he has of making his pictures: he either works on location, using real neighborhoods and its environment, or he works on the soundstage, starting from scratch and creating the entire picture from the ground up. And once everything is arranged in place, the camera is stabilized, and forty to fifty plates of 8 by 10 film are shot. Crewdson then begins integrating all these images to try to recreate what he had imagined the picture to look like. 
  </p>
  <p class="description">
    Crewdson claims that</p>
    <blockquote class="center"><p>the pictures are doomed, in that...my compulsion to make a perfect world looms against the impossibility of doing so. No matter what, you cannot achieve perfect representation</p><footer>Gregory Crewdson</footer></blockquote>
  <br>
  
  </p>
  <p class="description">
    Crewdson goes on to describe his photography as “the coming-together of form and content, essentially. Then that changes, because you continue to try to reinvent the form to accommodate the story as much as possible. Of course in the end it’s impossible to fully achieve the form, because the story is murky and undefined. So you try it over and over again, and you’re hoping by the next picture you’ll get it--and that keeps you going. It’s like this unsolvable equation.”  
  </p>

<a name="sherman"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Cindy Sherman</h2>
  <p><a href="/shermangallery">View gallery</a></p>  
  <img src="/static/img/sherman.jpg" class="img-circle" alt="Cindy Sherman" width="250" height="310" align="right"> 
  <p class="description">
    A portraitist who “depersonalizes” her portraits, Cindy Sherman portrays the superficial facade that covers one’s true identity - made ghostly - in her overuse of makeup. In addition to covering each subject’s face with an abundance of makeup, Sherman further dispossess the subjects of identity by leaving all of her works untitled. Interestingly, Sherman herself is the subject of her own photographs. However, it is deliberate that she looks completely different in each of her photographs. With this Gothic approach to art, she raises a concern for women as media, that dictates what constitutes the “ideal woman,” grows in influence.
  </p>

<a name="walker"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Kara Walker</h2>
  <p><a href="/walkergallery">View gallery</a></p>  
  <img src="/static/img/walker.jpg" class="img-circle" alt="Cindy Sherman" width="250" height="300" align="right"> 
  <p class="description">
    Kara Walker, with her cut-out silhouettes of the classic figures on the plantation, reveals the atrocities inflicted on slaves in the antebellum South. Her work is entirely Gothic because it reveals. Her work reveals the veneer of southern gentility as the fictitious identity and exhibits slavery - violence, physical and sexual, a vicious attempt to quash an entire race to increase one’s own self-worth. Walker reveals what a textbook or classroom cannot. This confusing false veneer that covers up the truly savage behavior of most white landowners dehumanized the slaves. They couldn’t leave the plantation because it was unlikely they would all escape. They were alone, their identity lost, hopelessly trapped. In this case, Walker forces the United States to look in the mirror. To see what it has covered up for so many years for what it truly was - far worse than perverse. Wicked. Criminal.
  </p>

<% include btt %>
<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>
<% include footer %>