<% include header %>
<center>
<p><a href="#1">Untitled 1</a> | <a href="#2">Untitled 2</a> | <a href="#3">Untitled 3</a></p>
</center>
<a name="1"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Untitled 1</h2>
  <p class="artinfo"><strong>Media:</strong> Digital Chromogenic Print</p>
  <p class="artinfo"><strong>Date of Creation:</strong> 2002</p>
  <img src="/static/img/cs1.png" class="img-rounded" alt="Cindy Sherman" width="70%"><br><br>
  <p class="description">
    This untitled image is a clear portrayal of this concern as Sherman exaggerates the application of makeup on select parts of her face. Makeup seems to be smeared everywhere except around her eyes, which are deliberately kept pale as the natural color of her skin. This jarring contrast evokes the image of a mask. It serves as a eerie juxtaposition between the false identity that the media imposes on its subjects and one’s true identity. As the image suggests, one cannot seamlessly mask his or her true self; and efforts to do so and failures to succeed are wholly Gothic.
  </p>
  
<a name="2"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Untitled 2</h2>
  <p class="artinfo"><strong>Media:</strong> Portrait Digital Photograph</p>
  <p class="artinfo"><strong>Date of Creation:</strong> 2004</p>
  <img src="/static/img/cs2.png" class="img-rounded" alt="Cindy Sherman" width="60%"><br><br>
  <p class="description">
    This untitled photograph is yet another example of makeup as a means to cover oneself up to appear different. However, while Sherman’s other image gives the viewer a glimpse of the subject’s inner identity with a lack of makeup around the eyes, this image generates the image of a mask with the application of too much makeup. This overuse of makeup corresponds to the idea of perfection as unattainable. This photograph serves as an example of one trying too hard to look a certain “idyllic” way, which translates to an appearance that looks excessive. Essentially, with these two photos, Sherman communicates that while it is human nature to strive for perfection, it is virtually impossible to achieve it. It is easy to fall short or go over the top. Either way, one’s true identity always finds its way through the cracks of the superficial, ineffective mask.
  </p>


<% include btt %>
<% include footer %>