<% include header %>

<a name="tbbt"></a>
<div class="container">
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2>The Big Bang Theory</h2>
  <iframe width="640" height="360" src="https://www.youtube.com/embed/vC3Q4uqBaGE" frameborder="0" allowfullscreen></iframe>
  <p class="description">
    The Big Bang Theory is a classic American sitcom that has won <a href="http://www.imdb.com/title/tt0898266/awards" class="description" target="_blank">awards</a> such as the Golden Globe for Best Actor in a Television Series Musical or Comedy in 2011 and the People’s Choice Award for Favorite TV show and Favorite Network TV Comedy in 2015. The Big Bang Theory has an average of 15.3 million viewers each night it airs, a number which has spiked to 18.2 million, making it the number one show of the night. Popular with viewers of all ages, The Big Bang Theory can be viewed as a true reflection of the general public’s idea of contemporary Gothic.
  </p>
  <p class="description">
    The October 5, 2009 episode “The Gothowitz Deviation” portrays the typical contemporary American view of what is Gothic. The two friends Howard and Raj attempt to fit in at a Goth-style club by dressing and behaving in what they believed to be particularly Gothic ways. They are dressed in a fully black outfit, they’ve restyled their hair to look casually disheveled, they’ve purchased dark tattoo sleeves, and they’ve even adjusted their voices to be of a lower pitch. These stylistic changes that Howard and Raj have made for themselves are in fact good representations of what we typically associate with the Gothic subculture.
  </p>
  <p class="description">
    This particular scene in “The Gothowitz Deviation” is not only Gothic on the surface. We understand that this scene depicts the American idea of the Gothic subculture, but we also notice that the content itself can also be understood in Gothic terms. Howard and Raj are attempting to dress in a particular fashion in order to give off the impression that they are of a different self. This idea of having a dual identity when it comes to social settings is prevalent in The Big Bang Theory - Howard and Raj slip in and out of different selves when they interact with people within and outside of their friend group. In this particular episode, we see that Howard and Raj adopt new identities and are faced with moral indecision when they realize that their alternate selves are well received in the Goth-style club.
  </p>
  <a name="dh"></a>
  <div class="container">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2>Desperate Housewives</h2>

  </div>
</div>


<% include footer %>