<% include header %>
<center>
<p><i><a href="#tbbt">The Big Bang Theory</a></i> | <i><a href="#dh">Desperate Housewives</a></i></p>
</center>
<a name="tbbt"></a>
  <hr class="section-heading-spacer">
  <br>
  <div class="clearfix"></div>
  <h2><i>The Big Bang Theory</i></h2>
  <p class="artinfo"><strong>Creators:</strong> Chuck Lorre and Bill Prady</p>
  <p class="artinfo"><strong>Media:</strong> TV Show</p>
  <p class="artinfo"><strong>Date of Creation:</strong> September, 2007 - present (renewed for 3 more seasons in 2014)</p>
  <iframe width="640" height="360" src="https://www.youtube.com/embed/vC3Q4uqBaGE" frameborder="0" allowfullscreen></iframe>
  <p class="description">
    <i>The Big Bang Theory</i> is a classic American sitcom that has won <a href="http://www.imdb.com/title/tt0898266/awards" class="description" target="_blank">awards</a> such as the Golden Globe for Best Actor in a Television Series Musical or Comedy in 2011 and the People’s Choice Award for Favorite TV show and Favorite Network TV Comedy in 2015. <i>The Big Bang Theory</i> has an average of 15.3 million viewers each night it airs, a number which has spiked to 18.2 million, making it the number one show of the night. Popular with viewers of all ages, <i>The Big Bang Theory</i> can be viewed as a true reflection of the general public’s idea of contemporary Gothic.
  </p>
  <p class="description">
    The October 5, 2009 episode “The Gothowitz Deviation” portrays the typical contemporary American view of what is Gothic. The two friends Howard and Raj attempt to fit in at a Goth-style club by dressing and behaving in what they believed to be particularly Gothic ways. They are dressed in a fully black outfit, they’ve restyled their hair to look casually disheveled, they’ve purchased dark tattoo sleeves, and they’ve even adjusted their voices to be of a lower pitch. These stylistic changes that Howard and Raj have made for themselves are in fact good representations of what we typically associate with the Gothic subculture.
  </p>
  <p class="description">
    This particular scene in “The Gothowitz Deviation” is not only Gothic on the surface. We understand that this scene depicts the American idea of the Gothic subculture, but we also notice that the content itself can also be understood in Gothic terms. Howard and Raj are attempting to dress in a particular fashion in order to give off the impression that they are of a different self. This idea of having a dual identity when it comes to social settings is prevalent in <i>The Big Bang Theory</i> - Howard and Raj slip in and out of different selves when they interact with people within and outside of their friend group. In this particular episode, we see that Howard and Raj adopt new identities and are faced with moral indecision when they realize that their alternate selves are well received in the Goth-style club.
  </p>
  <a name="dh"></a>
    <br><hr class="section-heading-spacer">
    <br>
    <div class="clearfix"></div>
    <h2><i>Desperate Housewives</i></h2>
    <p class="artinfo"><strong>Creator:</strong> Marc Cherry</p>
    <p class="artinfo"><strong>Media:</strong> TV Show</p>
    <p class="artinfo"><strong>Date of Creation:</strong> October, 2004 - May, 2012</p>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/aR0jKlwE0zI" frameborder="0" allowfullscreen></iframe>
    <p class="description">
      <i>Desperate Housewives</i> is a popular American series that serves as the intersection of drama, mystery, and comedy. It has won numerous awards including various Primetime Emmy’s, Golden Globes, and Screen Actors Guild Awards. The storyline follows the lives of four friends who live on the fictional “Wisteria Lane.” The show recounts various elements of daily suburban life: marital and domestic issues as well as suicide, crime, and suspicion - all conveniently covered up by the manicured lawns and white picket fences of suburban life.
    </p>
    <p class="description">
      This specific clip of the show’s theme song functions as the epitome of Gothic themes of the uncanny - the oh-so-slight mismatch between a false reality, a desired perfection, and a true reality. The music alone mimics this notion by subtly, yet constantly shifting between major and minor keys. It provides the viewer with an auditory scope of the constant battle between cheery superficial appearances and unpleasant inner sentiments. The scenes in this clip also correspond to the music. As major chords shift to minor chords, happy scenes turn into distressing ones. This idea is best portrayed in the portion of the clip where the cartoon wife hits her husband for presumably cheating on her.
    </p>

<% include footer %>