<% include header %>
<center>
<p><i><a href="#tbbt">The Big Bang Theory</a></i> | <i><a href="#dh">Desperate Housewives</a></i> | <i><a href="#gwh">Good Will Hunting</a></i></p>
</center>
<a name="tbbt"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2><i>The Big Bang Theory</i></h2>
  <p class="artinfo"><strong>Creators:</strong> Chuck Lorre and Bill Prady</p>
  <p class="artinfo"><strong>Media:</strong> TV Show</p>
  <p class="artinfo"><strong>Date of Creation:</strong> September, 2007 - present (renewed for 3 more seasons in 2014)</p>
  
  <center><iframe width="640" height="360" src="https://www.youtube.com/embed/vC3Q4uqBaGE" frameborder="0" allowfullscreen></iframe></center><br>

  <p class="description">
    <i>The Big Bang Theory</i> is a classic American sitcom that has won <a href="http://www.imdb.com/title/tt0898266/awards" class="description" target="_blank">awards</a> such as the Golden Globe for Best Actor in a Television Series Musical or Comedy in 2011 and the People’s Choice Award for Favorite TV show and Favorite Network TV Comedy in 2015. <i>The Big Bang Theory</i> has an average of 15.3 million viewers each night it airs, a number which has spiked to 18.2 million, making it the number one show of the night. Popular with viewers of all ages, <i>The Big Bang Theory</i> can be viewed as a true reflection of the general public’s idea of contemporary Gothic.
  </p>
  <p class="description">
    The October 5, 2009 episode “The Gothowitz Deviation” portrays the typical contemporary American view of what is Gothic. The two friends Howard and Raj attempt to fit in at a Goth-style club by dressing and behaving in what they believed to be particularly Gothic ways. They are dressed in a fully black outfit, they’ve restyled their hair to look casually disheveled, they’ve purchased dark tattoo sleeves, and they’ve even adjusted their voices to be of a lower pitch. These stylistic changes that Howard and Raj have made for themselves are in fact good representations of what we typically associate with the Gothic subculture.
  </p>
  <p class="description">
    This particular scene in “The Gothowitz Deviation” is not only Gothic on the surface. We understand that this scene depicts the American idea of the Gothic subculture, but we also notice that the content itself can also be understood in Gothic terms. Howard and Raj are attempting to dress in a particular fashion in order to give off the impression that they are of a different self. This idea of having a dual identity when it comes to social settings is prevalent in <i>The Big Bang Theory</i> - Howard and Raj slip in and out of different selves when they interact with people within and outside of their friend group. In this particular episode, we see that Howard and Raj adopt new identities and are faced with moral indecision when they realize that their alternate selves are well received in the Goth-style club.
  </p>
  <a name="dh"></a>
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2><i>Desperate Housewives</i></h2>
    <p class="artinfo"><strong>Creator:</strong> Marc Cherry</p>
    <p class="artinfo"><strong>Media:</strong> TV Show</p>
    <p class="artinfo"><strong>Date of Creation:</strong> October, 2004 - May, 2012</p>
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/aR0jKlwE0zI" frameborder="0" allowfullscreen></iframe></center><br>
    <p class="description">
      <i>Desperate Housewives</i> is a popular American series that serves as the intersection of drama, mystery, and comedy. It has won numerous awards including various Primetime Emmy’s, Golden Globes, and Screen Actors Guild Awards. The storyline follows the lives of four friends who live on the fictional “Wisteria Lane.” The show recounts various elements of daily suburban life: marital and domestic issues as well as suicide, crime, and suspicion - all conveniently covered up by the manicured lawns and white picket fences of suburban life.
    </p>
    <p class="description">
      This specific clip of the show’s theme song functions as the epitome of Gothic themes of the uncanny - the oh-so-slight mismatch between a false reality, a desired perfection, and a true reality. The music alone mimics this notion by subtly, yet constantly shifting between major and minor keys. It provides the viewer with an auditory scope of the constant battle between cheery superficial appearances and unpleasant inner sentiments. The scenes in this clip also correspond to the music. As major chords shift to minor chords, happy scenes turn into distressing ones. This idea is best portrayed in the portion of the clip where the cartoon wife hits her husband for presumably cheating on her.
    </p>

<a name="gwh"></a>
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2><i>Good Will Hunting</i></h2>
    <p class="artinfo"><strong>Director:</strong> Gus Van Sant</p>
    <p class="artinfo"><strong>Writers:</strong> Matt Damon, Ben Affleck</p>
    <p class="artinfo"><strong>Media:</strong> Movie</p>
    <p class="artinfo"><strong>Date of Creation:</strong> January 9, 1998</p>
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/dEIQSbul9Os" frameborder="0" allowfullscreen></iframe></center><br>
    <p class="description">
      <i>Good Will Hunting</i> is a 1998 movie about an extremely gifted young man named Will Hunting who is introduced as an unruly janitor at M.I.T. It is revealed that as a janitor, Will Hunting spends some of his time anonymously writing out the answers to difficult math equations posed by M.I.T. professors, problems that he finds intuitive and straightforward. Through a series of difficult circumstances, Will enters into an agreement with an M.I.T. professor that Will would study and learn from the professor, while also seeing a psychologist to deal with Will’s violent responses to right the injustices he sees in his everyday lives.
      <p class="description">
        At this point, viewers understand that this movie is not simply about the emergence of a math genius - instead, <i>Good Will Hunting</i> is a movie that explores the psyche of an orphan who grew up to be a man who fears vulnerability and does not truly understand his own identity. As a result, he adopts a harsh, insensitive identity when dealing with the world around him, unable to accept his own feelings or even attempt to understand them. Due to his refusal to accept his own self, Will Hunting is unable to connect with those around him, and in the few cases where he does, he finds himself pushing away anyone who gets too close to him. 
      </p>
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/zKQBHkzOYvw" frameborder="0" allowfullscreen></iframe></center><br>
      <p class="description">
        It is only the patient and empathetic psychologist, Sean Maguire, who is able to gradually help Will look deeper within himself. It is through a process of first having many silent sessions to eventually developing a trust in each other. It is only through an opening up and a mutual sharing of stories, of becoming vulnerable, that Sean is able to help Will understand that Will’s harsh childhood and outlook on life, though one of his identities, is not his entire identity. Will is not the perfect genius that he imagined himself to be, and <i>Good Will Hunting</i> takes its viewers on a journey of self-discovery, of finding the part of Will that he had been pushing away for so long.
      </p>
<% include btt %>
<% include footer %>