<% include header %>
<center>
<p><a href="#1">Gone 1</a> | <a href="#2">Gone 2</a></p>
</center>
<a name="1"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Gone, An Historical Romance of a Civil War as it Occurred between the Dusky Thighs of One Young Negress and Her Heart</h2>
  <p class="artinfo"><strong>Media:</strong> Cut Paper on Wall</p>
  <p class="artinfo"><strong>Date of Creation:</strong> 1994</p>
  <img src="/static/img/kw1.png" class="img-rounded" alt="Kara Walker" width="60%"><br><br>
  <p class="description">
    Walker portrays the overlap between the Gothic confusion of identity and southern enslavement particularly well in the image above. She depicts the subject’s confused identity in two ways. The first is the way in which the subject holds her own head detached from her body. The second is Walker’s rendering another person, seemingly clawing for a way out, inside the subject. 
  </p>
  
<a name="2"></a>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <h2 class="artist">Gone, An Historical Romance of a Civil War as it Occurred between the Dusky Thighs of One Young Negress and Her Heart</h2>
  <p class="artinfo"><strong>Media:</strong> Cut Paper on Wall</p>
  <p class="artinfo"><strong>Date of Creation:</strong> 1994</p>
  <img src="/static/img/kw2.png" class="img-rounded" alt="Kara Walker" width="60%"><br><br>
  <p class="description">
    This image serves as an interesting counterbalance to the other Walker image in this exhibition. While the other work depicts slave conditions (with a seemingly female slave starring as the work’s subject), this image depicts the superficial veneer of “southern gentility” that white landowners used to mask their barbaric treatment of their slaves. On the surface, the image seems to depict a loving and courteous relationship between a man and woman. However, upon a second look, a few elements are out of place and upon another look, these elements appear to be gear meant to constrain slaves. The most obvious of these instances is weapon protruding from the man’s leg, which extends to another body conveniently cut out of the image. This silhouetted image portrays a juxtaposition between the superficial veneer and the wicked interior.
  </p>

<% include btt %>
<% include footer %>