// @import url(https://fonts.googleapis.com/css?family=Lora:700,400italic,400,700italic|New+Rocker);
@import url(https://fonts.googleapis.com/css?family=Lora:700,400italic,400,700italic|New+Rocker|Press+Start+2P|Creepster);
@import "bootstrap";
// @import "bootstrap-material-design";

// $body-font: "Trebuchet MS", Helvetica, sans-serif;
$title-font: 'New Rocker', cursive;
$body-font: 'Lora', serif;
// $contemporary-font: 'Press Start 2P', cursive;
$creepy-font: 'Creepster', cursive;
$navy: #000084;
$black: #1E1E1E;
$lighterblack: #4E4E4E;
$lighterNavy: #0000d3;
$yellow: #dcdd63;
$gray: #F8F8F8;
$navBackgroundColor: #FFE4C4;
$navHoverGray: #777;
$navTextBlack: #000;
$green: #1f6300;
$red: red;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top:0;
}

body, nav {
  font-family: $body-font;
  color: $lighterblack;
  background-color: $gray;
  font-weight: 600;
}

body {
  a {
    text-decoration: underline;
  }
}

table {
  font-size: 24px;
}

.nameAlert{
  font-size: 16px;
  text-decoration: none;
}

.alert {
   display: inline-block;    
}

#nameForm {
  margin-top: 20px;
}

#home, #backHome, #nextQuestion, #previousQuestion {
  text-decoration: none;
  font-size: 16px;
}

.btn {
  font-size: 16px;
}

h1{
  font-family: $title-font;
  // font-family: $creepy-font;
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-weight: 600;
}

#nameFormWarning, #placeholderWarning {
  font-weight: 300;
  color: $red;
}

nav {
  a {
    text-decoration: none;
  }
  .navbar-fixed-top {
    background-color:#FFE4C4;
  }
}

.navbar-default {
  background-color:$navBackgroundColor;
  .navbar-toggle {
      border-color: #729de1;
      :focus, :hover {
        background-color: #d1efff;
      }
  }
}


.navbar-default .navbar-nav>li>a {
    color:$navTextBlack;
}

.navbar-default .navbar-nav>li>a:hover {
    color:$navHoverGray;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: $navTextBlack;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: $navHoverGray;
}

p, a, li, label{
  font-size: 24px;
}

form{
  label{
    display: inline-block;
    float:left;
  }
}

.notice{
  font-size: 16px;
  color: $green;
}

.error{
  font-size: 18px;
  color: $red;
}

.bodyText{
  padding-top: 70px;
  height: 100%;
}

.container {
  height: 80%;
}

.btn {
  margin-bottom: 5px;
}

#description{
  text-align: center;
  font-weight: 300;
}

.allclubs{
  font-size: 28px;
}

.navbar-default {
  p, a, li, label {
    font-size: 20px;
  }
}

.bq3 { width: 400px; background: url('http://i47.tinypic.com/a9l0g3.png') top left no-repeat; padding-left: 55px; line-height: 18px; color: #575757; }
.bq3 p { padding-right: 35px; line-height: 18px; background: url('http://i48.tinypic.com/eb1yrr.png') bottom right no-repeat; padding-bottom: 15px; color: #333; font-size: 24px; }

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

div.spin {
color: $black;
text-align: center;
padding: 11px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
  transition: all 200ms linear;
-moz-transition: all 200ms linear;
-webkit-transition: all 200ms linear;
-ms-transition: all 200ms linear;
-o-transition: all 200ms linear;
  
}


div.spin:hover {
  color: $black;
  text-align: center;
  padding: 11px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
    transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -webkit-transform: translate(0px, 10px) rotate(-30deg);
  -moz-transform: translate(0px, 10px) rotate(-30deg);
  -ms-transform: translate(0px, 10px) rotate(-30deg);
  -o-transform: translate(0px, 10px) rotate(-30deg);
  transform: translate(0px, 10px) rotate(-30deg);
}


div.spin:active {
  color: $black;
  text-align: center;
  padding: 11px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
    transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

.center {
    margin: auto;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 600;
}

.description {
  font-size: 20px;
  line-height: 1.6;
}

.artist {
  font-size: 34px;
}