// @import url(https://fonts.googleapis.com/css?family=Lora:700,400italic,400,700italic|New+Rocker);
@import url(https://fonts.googleapis.com/css?family=Lora:700,400italic,400,700italic|New+Rocker|Press+Start+2P|Creepster);
// $body-font: "Trebuchet MS", Helvetica, sans-serif;
$title-font: 'New Rocker', cursive;
$body-font: 'Lora', serif;
// $contemporary-font: 'Press Start 2P', cursive;
$creepy-font: 'Creepster', cursive;
$navy: #000084;
$lighterNavy: #0000d3;
$yellow: #dcdd63;
$gray: #F8F8F8;
$navBackgroundColor: #FFE4C4;
$navHoverGray: #777;
$navTextBlack: #000;
$green: #1f6300;
$red: red;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top:0;
}

body, nav {
  font-family: $body-font;
  color: $navy;
  background-color: $gray;
  font-weight: 600;
}

body {
  a {
    text-decoration: underline;
  }
}

table {
  font-size: 24px;
}

.nameAlert{
  font-size: 16px;
  text-decoration: none;
}

.alert {
   display: inline-block;    
}

#nameForm {
  margin-top: 20px;
}

#home, #backHome, #nextQuestion, #previousQuestion {
  text-decoration: none;
  font-size: 16px;
}

.btn {
  font-size: 16px;
}

h1{
  font-family: $title-font;
  // font-family: $creepy-font;
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-weight: 600;
}

#nameFormWarning, #placeholderWarning {
  font-weight: 300;
  color: $red;
}

nav {
  a {
    text-decoration: none;
  }
  .navbar-fixed-top {
    background-color:#FFE4C4;
  }
}

.navbar-default {
  background-color:$navBackgroundColor;
  .navbar-toggle {
      border-color: #729de1;
      :focus, :hover {
        background-color: #d1efff;
      }
  }
}


.navbar-default .navbar-nav>li>a {
    color:$navTextBlack;
}

.navbar-default .navbar-nav>li>a:hover {
    color:$navHoverGray;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: $navTextBlack;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: $navHoverGray;
}

p, a, li, label{
  font-size: 24px;
}

form{
  label{
    display: inline-block;
    float:left;
  }
}

.notice{
  font-size: 16px;
  color: $green;
}

.error{
  font-size: 18px;
  color: $red;
}

.bodyText{
  padding-top: 70px;
  height: 100%;
}

.container {
  height: 80%;
}

.btn {
  margin-bottom: 5px;
}

#description{
  text-align: center;
  font-weight: 300;
}

.allclubs{
  font-size: 28px;
}

.navbar-default {
  p, a, li, label {
    font-size: 20px;
  }
}